@CHARSET "UTF-8";
/*bootstrap first so we can overwrite it */
@import url("bootstrap-responsive.css");
@import url("bootstrap.css");

/*rest*/
@import url("User.css");
@import url("header.css");
@import url("menu.css");

/*for user register */
@import url("regUserWizard.css");

#header{
	position: relative ; 
	padding:0px 0px 2% 0px;
	width:100%;
	height:10%;
	border : 1px solid green;
}
#main{
	position:relative;
	top:15%;
	padding:1% 1% 1% 1% ;
	margin:1% 1% 1% 1% ;
	border : 2px solid red;
	overflow:auto;
	
	
}
#menu{
	position:relative;
	top:12%;
	left:2%;
	width:20%;
	height:80%;
	border : 1px solid;
	float:left;
	padding:1% 1% 1% 1% ;
}
.navigatePaginationBar{
	
}

#footer{
	position: relative ; 
	padding:2% 0px 0px 0px;
	width:100%;
	height:10%;
	border : 3px solid orange;
}



/* GLOBALLY USED CLASSES AND OTHER  */

.error{
	color:#CC0000;
	font-weight:bold;
	display:inline;
}
.allOK{
	color:green;
	font-weight:bold;
}
.logoutLink{
	float:right;
	margin-right:3%;
}



