@CHARSET "UTF-8";

#popRegUser{
	position:absolute!important;
	z-index:10;
    top:5%!important;
    left:20%!important;
    
    min-width:750px!important;
    min-height:300px!important;
    
   
    margin:0px 0px 0px 0px !important;  
    opacity:0.9;  
}

#registerUserFormWrapper{
	position:relative;
}

#registerUserFormWrapper textarea{
	width:75%;
}





