@CHARSET "UTF-8";/* Users show */


/* MAIN TABLE WITH POST DIVS */

#mainPageUsers{
	position:relative;
	float:right;
	right:1%;
	width:72%;
	height:75%;
	border : 1px solid;
	
}


.displayUsers{
width:80%;
height:80%;
left:10%;
font-size:14px;
position:relative;

}
.singleUserDiv{
position:relative;
display:table;
width:22%;
max-width:22%!important;
height:200px;
margin:1%;
float:left;
border:1px solid orange;
}

.UsersTable{
position:relative;
max-width:96%;
font-size:10px;
margin:2% 2% 2% 2%;
margin-right:auto;
margin-left:auto;
}
.UsersTable td{
line-height:12px;
}








